@media (prefers-color-scheme: light) {
  .card {
    border: var(--border-dark);
    background-color: var(--color-light);
    box-shadow: var(--shadow-lm);
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    border: var(--border-light);
    background-color: var(--color-shade-dm);
    box-shadow: var(--shadow-dm);
  }
}

.card {
  padding: var(--spacing-xlarge) var(--spacing-large) !important;
  border-radius: var(--radius-soft);
  margin: var(--spacing-base);
  max-width: 640px;
}

.card h4 {
  margin-bottom: var(--spacing-small);
}

.card:first-of-type {
  margin-left: 0;
  margin-right: var(--spacing-base);
}

.card:last-of-type {
  margin-right: 0;
  margin-left: var(--spacing-base);
}

.center .groupRow:first-of-type .card {
  margin-top: var(--spacing-large);
}

.groupRow:first-of-type {
  margin-bottom: var(--spacing-base);
}

.groupRow:last-of-type {
  margin-top: 0;
}

@media only screen and (max-width: 960px) {
  .card h4 {
    font-size:  calc(var(--font-size-3) * .7);
  }
}

@media only screen and (max-width: 768px) {
  .center .groupRow:first-of-type .card:nth-child(2n) {
    margin-top: var(--spacing-base);
  }

  .card {
    margin: var(--spacing-base) 0;
  }

  .card h4 {
    font-size:  calc(var(--font-size-3) * .8);
  }

  .card:first-of-type {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0 !important;
    margin-bottom: var(--spacing-base);
  }

  .card:last-of-type {
    margin-right: 0;
    margin-left: 0;
  }

  .groupRow .card.description {
    margin-top: var(--spacing-base);
  }

  .groupRow:first-of-type {
    margin-bottom: 0;
    margin-top: var(--spacing-base);
  }
}
