@media (prefers-color-scheme: light) {

}

@media (prefers-color-scheme: dark) {

}

footer {
  padding: var(--spacing-base) 0 !important;
  margin-top: calc(var(--spacing-xxlarge) * 2);
}

footer p {
  font-size: var(--font-size-small);
  word-break: break-word;
  margin-top: 0 !important;
}

footer.centeredContent p {
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {

}
